<div *ngIf="photo !== null" class="photo-detail-content base-text">


  <div class="close-button-container">
    <button mat-button 
      (click)="close()"
      matTooltip="Fermer"
      matTooltipPosition="above"><mat-icon svgIcon="close" ></mat-icon></button>
  </div>

  <div>
    <h1>{{photo.originalName}} (id: {{photo.id}})</h1>
  </div>
  
  <mat-toolbar>

    <button mat-button
      (click)="download()" 
      class="thirdary-button"
      matTooltipPosition="above"
      matTooltip="Afficher l’url de la photo pour la partager"
      matTooltipPosition="above">Télécharger</button>

    <button mat-button
      (click)="openShareDialog()"
      class="thirdary-button" 
      matTooltipPosition="above"
      matTooltip="Afficher l’url de la photo pour la partager"
      matTooltipPosition="above">Partager</button>

    <button mat-button
      (click)="openConfirmDeletionDialog()" 
      class="thirdary-button"
      matTooltipPosition="above"
      matTooltip="Supprimer la photo"
      matTooltipPosition="above">Supprimer</button>

    <button mat-button
      *ngIf="photo.occurrence == null && !isMobile"
      (click)="openLinkOccurrenceDialog()" 
      class="thirdary-button"
      matTooltipPosition="above"
      matTooltip="Lier cette  photo à une observation existante"
      matTooltipPosition="above">Associer à une observation</button>

  </mat-toolbar>

  <div>

    <img src="{{photo.url}}" (click)="viewBigger()" />

    <div >

      <div class="photo-detail-content-item-holder">
        <div class="photo-detail-content-item-title">Date de prise de vue</div>
        <div>{{photo.dateShot | date:'dd/MM/yyyy (HH:mm)'}}</div>
      </div>

      <div class="photo-detail-content-item-holder" *ngIf="photo.latitude !== null">
        <div class="photo-detail-content-item-title">Latitude</div>
        <div>{{photo.latitude}}</div>
      </div>

      <div class="photo-detail-content-item-holder" *ngIf="photo.longitude !== null">
        <div class="photo-detail-content-item-title">Longitude</div>
        <div>{{photo.longitude}}</div>
      </div>

      <div class="photo-detail-content-item-holder" *ngIf="photo.occurrence !== null">
        <div class="photo-detail-content-item-title">Observation liée</div>
        <div>{{photo.occurrence.userSciName}}</div>
        <div>    
	  <button mat-button
	    (click)="unlinkOccurrence()" 
        class="thirdary-button"
      	    matTooltipPosition="above"
            matTooltip="Supprimer le lien vers l'observation"
            matTooltipPosition="above">Supprimer le lien</button>
        </div>
      </div>
    </div>

  </div>

  <div id="tag-component-container">
    <tb-tag
      [userId]=22
      [objectId]="photo.id"
      [basicTags]="basicTags"
      [baseApiUrl]="baseUrl"
      apiPath="/api/photo_tags"
      apiRelationPath="/api/photo_photo_tag_relations"
      apiRetrievePath="/api/photos/{id}/photo_tag_relations"
      objectName="photo"
      objectEndpoint="/api/photos"
      tagName="photoTag"
      tagEndpoint="/api/photo_tags"></tb-tag>
  </div>

</div>
