<div *ngIf="photo !== null" class="photo-detail-content">

  <div>
    <h1>{{photo.originalName}} (id: {{photo.id}})</h1>
  </div>
  
  <mat-toolbar>

    <button mat-button
      (click)="download()" 
      matTooltipPosition="above"
      matTooltip="Afficher l’url de la photo pour la partager"
      matTooltipPosition="above">Télécharger</button>

    <button mat-button
      (click)="openShareDialog()" 
      matTooltipPosition="above"
      matTooltip="Afficher l’url de la photo pour la partager"
      matTooltipPosition="above">Partager</button>

    <button mat-button
      (click)="delete()" 
      matTooltipPosition="above"
      matTooltip="Supprimer la photo"
      matTooltipPosition="above">Supprimer</button>

    <button mat-button
      *ngIf="photo.occurrence == null"
      (click)="openLinkOccurrenceDialog()" 
      matTooltipPosition="above"
      matTooltip="Lier cette  photo à une observation existante"
      matTooltipPosition="above">Associer à une observation</button>

  </mat-toolbar>

  <div>

    <img src="{{photo.url}}" (click)="viewBigger()" />

    <div >

      <div class="photo-detail-content-item-holder">
        <div class="photo-detail-content-item-title">Date de prise de vue</div>
        <div>{{photo.dateShot | date:'dd/MM/yyyy (HH:mm)'}}</div>
      </div>

      <div class="photo-detail-content-item-holder" *ngIf="photo.latitude !== null">
        <div class="photo-detail-content-item-title">Latitude</div>
        <div>{{photo.latitude}}</div>
      </div>

      <div class="photo-detail-content-item-holder" *ngIf="photo.longitude !== null">
        <div class="photo-detail-content-item-title">Longitude</div>
        <div>{{photo.longitude}}</div>
      </div>

      <div class="photo-detail-content-item-holder" *ngIf="photo.occurrence !== null">
        <div class="photo-detail-content-item-title">Observation liée</div>
        <div>{{photo.occurrence.userSciName}}</div>
      </div>
    </div>

  </div>

</div>
