.user-profile-form-container-mobile {
  padding-top:50px;
  overflow:auto;
  text-align: center;
  height:calc(100vh - 57px);
}

.user-profile-form-container {
/*
  width:600px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
*/

  padding-top:50px;
  overflow:auto;
  text-align: center;
  height:calc(100vh - 57px);

}

.user-profile-form-section-items-container {
  display: flex;
}

.user-profile-form-section-item-container  {
  flex-basis:0;
  flex: 1 1 0;
}

.user-profile-form-section-title-container {
  font-size: 22px;
  font-weight: 700;
  padding-bottom:20px;
}

.user-profile-form-section-subtitle-container {
  padding-bottom:20px;
}

.user-profile-form-section-container {
  padding-bottom:20px;
}


.logo-img {
  padding-left:10px;
  padding-right:10px;
  vertical-align:middle;
}

.logo-img-container {
  text-align:center;
  padding-top:6px;
  background: #F7F7F7;
  position: fixed;
  left: 1px;
  right: 10px;
  bottom: 10px;
  z-index: 10000;
  display: block;
  padding-bottom: 6px;
}
