<div class="user-profile-form-container base-text">

  <div class="user-profile-form-section-container">

    <div class="user-profile-form-section-title-container">Mon compte</div>

    <div class="user-profile-form-section-subtitle-container">
      Connecté(e) en tant que <a href="{{ getProfileUrl() }}">{{ getUsername() }}</a>
    </div>

    <div class="user-profile-form-section-items-container">


      <div class="user-profile-form-section-item-container">

        <button mat-button
          class="bold-link small thirdary-button"
          matTooltip="Accéder aux réglages de son profil" 
          (click)="navigateToWpProfileSettings()"
          matTooltipPosition="above">Modifier la visibilité de mon profil</button>
        <button mat-button
          (click)="logout()"
          class="bold-link small thirdary-button"
          matTooltip="Se déconnecter" 
          matTooltipPosition="above">Déconnexion</button>
      </div>

    </div>

  </div>

  <div class="user-profile-form-section-container">

    <div class="user-profile-form-section-title-container">Informations</div>

    <div class="user-profile-form-section-items-container">
      
      <div class="user-profile-form-section-item-container">
        <button mat-button
          class="bold-link small thirdary-button" 
          (click)="navigateToHelp()" 
          matTooltip="Accéder à la page d’aide du Carnet en Ligne" 
          matTooltipPosition="above">Aide du Carnet en Ligne</button>
        <button mat-button
          class="bold-link small thirdary-button"
          matTooltip="Contacter l’équipe de Tela Botanica pour faire part de vos questions ou remarques" 
          (click)="navigateToContact()" 
          matTooltipPosition="above">Contactez-nous</button>
      </div>

      <div class="user-profile-form-section-item-container">

        <button mat-button
          class="bold-link small thirdary-button"
          (click)="navigateToHelp()" 
          matTooltip="Consulter le modèle de fichier pour l’import" 
          matTooltipPosition="above">Modèle pour l’import</button>
        <button mat-button
          class="bold-link small thirdary-button" 
          matTooltip="Consulter la charte d’utilisation du Carnet en Ligne" 
          matTooltipPosition="above">Consulter la charte d’utilisation</button>

      </div>

    </div>

  </div>


</div>

