<div  
  [ngClass]="{
    'user-profile-form-container-mobile': isMobile,
    'user-profile-form-container': !isMobile
  }" >

  <div class="user-profile-form-section-container">
    <div class="user-profile-form-section-title-container">Mon compte</div>
    <div class="user-profile-form-section-subtitle-container">
      Connecté(e) en tant que <a href="{{ getProfileUrl() }}">{{ getUsername() }}</a>
    </div>
    <div class="user-profile-form-section-item-container">

      <button mat-button
        class="bold-link small thirdary-button"
        matTooltip="Accéder aux réglages de son profil" 
        (click)="navigateToWpProfileSettings()"
        matTooltipPosition="above">Modifier la visibilité de mon profil</button>
      <button mat-button
        (click)="logout()"
        class="bold-link small thirdary-button"
        matTooltip="Se déconnecter" 
        matTooltipPosition="above">Déconnexion</button>
    </div>
  </div>

  <div class="user-profile-form-section-container">
    <div class="user-profile-form-section-title-container">Informations</div>
      <div class="user-profile-form-section-item-container">
        <button mat-button
          class="bold-link small thirdary-button" 
          (click)="navigateToHelp()" 
          matTooltip="Accéder à la page d’aide du Carnet en Ligne" 
          matTooltipPosition="above">Aide du Carnet en Ligne</button>
        <button mat-button
          class="bold-link small thirdary-button"
          matTooltip="Contacter l’équipe de Tela Botanica pour faire part de vos questions ou remarques" 
          (click)="navigateToContact()" 
          matTooltipPosition="above">Contactez-nous</button>
      </div>

      <div class="user-profile-form-section-item-container">
        <button mat-button
          class="bold-link small thirdary-button"
          (click)="navigateToImportTemplate()" 
          matTooltip="Consulter le modèle de fichier pour l’import" 
          matTooltipPosition="above">Modèle pour l’import</button>
        <button mat-button
          class="bold-link small thirdary-button" 
          (click)="navigateToUserAgreement()"
          matTooltip="Consulter la charte d’utilisation du Carnet en Ligne" 
          matTooltipPosition="above">Consulter la charte d’utilisation</button>
      </div>

  </div>

  <div class="user-profile-form-section-container">
      <div class="user-profile-form-section-title-container">Options</div>
      <div class="user-profile-form-section-item-container">

		          <span class="occurrence-form-option-label">Toujours afficher les champs avancés</span>
		          <mat-slide-toggle 
                [checked]="false"      
                (toggleChange)="toggleAlwaysDisplayExtraFields($event)"  
                matTooltip="Toujours afficher l’ensemble des champs de saisie" matTooltipClass="tooltip" matTooltipPosition="above"></mat-slide-toggle>


      </div>
  </div>

<div style="height:200px">
</div>
  <div class="logo-img-container">
    <img class="logo-img" style="width:93px;" (click)="navigateToTelaHomepage()" src="assets/img/logos/logo_tela.png" /> 
    <img class="logo-img" style="width:70px;" (click)="navigateToMinistereMTESHomepage()" src="assets/img/logos/logo_ministere_mtes.jpg" />
  </div>

</div>



