
<mat-toolbar class="main-toolbar" fxFlex="1 1 auto">

  <div id="logo">
    <button mat-button
      (click)="navigateToAppRoot()" 
      matTooltipPosition="above">

      <mat-icon  [ngClass]="{
       'cel-icon-mobile': isMobile,
       'cel-icon': !isMobile }" svgIcon="cel"></mat-icon>

    </button>
  </div>

  <div id="tabnav" >
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of mainMenuLinks"
         [routerLink]="['/'+link.path]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </div>

  <div id="menu" >
    <button mat-button
      class="bold-link small" 
      (click)="navigateToUserProfile()" 
      matTooltip="Accéder au profil utilisateur" 
      matTooltipPosition="above"><mat-icon svgIcon="burger"></mat-icon></button>
  </div>

</mat-toolbar>

