<div class="occurrence-detail-container" *ngIf="occurrence!=null && occurrence!=undefined">
    <div >
      <h1>{{occurrence.userSciName}} (id: {{occurrence.id}})</h1>
    </div>

    <mat-toolbar>
        <div >
            <button mat-button
                (click)="generatePdfEtiquette()" 
                matTooltip="Créer une étiquette d’herbier à partir de cette observation" 
                matTooltipPosition="above">Générer une étiquette d'herbier</button>
               
            <button mat-button
              (click)="clone()"
              matTooltip="Créer une nouvelle observation à partir de celle-ci" 
              matTooltipPosition="above">Dupliquer</button>

            <button mat-button
              (click)="navigateToEditOccurrenceForm()" 
              matTooltip="Modifier l’observation" 
              matTooltipPosition="above">Editer</button>

            <button mat-button
              *ngIf="occurrence.isPublic; else publishOccTemplate"
              (click)="unpublish()"  
              matTooltip="Rendre privée l’observation" 
              matTooltipPosition="above">Dépublier</button>

          <ng-template #publishOccTemplate>
            <button mat-button  
              (click)="publish()" 
              matTooltip="Rendre publique l’observation" 
              matTooltipPosition="above">Publier</button> 
          </ng-template>

          <button mat-button  
            (click)="openConfirmDeletionDialog()" 
            matTooltip="Supprimer l'observation" 
            matTooltipPosition="above">Supprimer</button> 

        </div>
      </mat-toolbar>
    <div>





    <div *ngIf="occurrence!=null && occurrence!=undefined">

      <h2>Observation</h2> 





      <div class="obs-detail-content">

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">id obs</div>
          <div>{{occurrence.id}}</div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Nom saisi</div>
          <div> 
            <a href="https://www.tela-botanica.org/{{occurrence.taxoRepo}}-nn-{{occurrence.userSciNameId}}" 
              matTooltip="Ouvrir la fiche eFlore" 
              matTooltipPosition="above">{{occurrence.userSciName  == null ? "-" : occurrence.userSciName}}</a>
          </div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Référentiel</div>
          <div>{{occurrence.taxoRepo  == null ? "-" : occurrence.taxoRepo}}</div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Certitude</div>
          <div>{{occurrence.certainty  == null ? "-" : occurrence.certainty}}</div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Commentaire</div>
          <div>{{occurrence.annotation   == null ? "-" : occurrence.annotation}}</div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Date</div>
          <div>{{occurrence.dateObserved  == null ? "-" : occurrence.dateObserved | date:'dd/MM/yyyy'}}</div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Lieu</div>
          <div>{{( (occurrence.locality  == null) && (occurrence.osmCountry == null) ) ? "-" : occurrence.locality + ', ' + occurrence.osmCountry}}</div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Altitude</div>
          <div>{{occurrence.elevation == null ? "-" : occurrence.elevation + 'm'}}</div>
        </div>



        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Lieu-dit</div>
          <div>{{occurrence.sublocality == null ? "-" : occurrence.sublocality}}</div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Code INSEE</div>
          <div>{{occurrence.localityInseeCode == null ? "-" : occurrence.localityInseeCode}}</div>
        </div>

        <div *ngIf="occurrence.station != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Station</div>
          <div>{{occurrence.station == null ? "-" : occurrence.station}}</div>
        </div>

        <div *ngIf="occurrence.environment != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Milieu</div>
          <div>{{occurrence.environment == null ? "-" : occurrence.environment}}</div>
        </div>

        <div *ngIf="occurrence.publishedLocation != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Localisation diffusée</div>
          <div>{{occurrence.publishedLocation == null ? "-" : occurrence.publishedLocation}}</div>
        </div>

        <div *ngIf="occurrence.project != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Projet ou programme</div>
          <div>{{occurrence.project == null ? "-" : occurrence.project.label}}</div>
        </div>

        <div *ngIf="occurrence.observer != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Observateur</div>
          <div>{{occurrence.observer == null ? "-" : occurrence.observer}}</div>
        </div>

        <div *ngIf="occurrence.observerInstitution != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Structure de l'observateur</div>
          <div>{{occurrence.observerInstitution == null ? "-" : occurrence.observerInstitution}}</div>
        </div>

        <div *ngIf="occurrence.occurrenceType != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Type de données</div>
          <div>{{occurrence.occurrenceType == null ? "-" : occurrence.occurrenceType}}</div>
        </div>

        <div *ngIf="occurrence.biblioSource != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Source bibliographique</div>
          <div>{{occurrence.biblioSource == null ? "-" : occurrence.biblioSource}}</div>
        </div>

        <div *ngIf="occurrence.phenology != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Phénologie</div>
          <div>{{occurrence.phenology == null ? "-" : occurrence.phenology}}</div>
        </div>

        <div *ngIf="occurrence.coef != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Abondance</div>
          <div>{{occurrence.coef == null ? "-" : occurrence.coef}}</div>
        </div>

        <div *ngIf="occurrence.isHerbariumSample != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Présence d'un témoin d'herbier</div>
          <div>{{occurrence.isHerbariumSample}}</div>
        </div>
        <div *ngIf="occurrence.isPublic != null" class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Statut de publication</div>
          <div>{{occurrence.isPublic ? 'Public' : 'Privé'}}</div>
        </div>
      </div>
    </div>
  </div>

  <div id="tag-component-container">
    <tb-tag
      [userId]=22
      [objectId]="id"
      [baseApiUrl]="baseTagLibBaseUrl"
      apiPath="/api/user_occurrence_tags"
      apiRelationPath="/api/occurrence_user_occurrence_tag_relations"
      apiRetrievePath="/api/occurrences/{id}/user_tag_relations"
      objectName="occurrence"
      objectEndpoint="/api/occurrences"
      tagName="userOccurrenceTag"
      tagEndpoint="/api/user_occurrence_tags"></tb-tag>
  </div>

  <div id="occurrence-photo-gallery-container">

      <h2>Photos</h2> 

    <occurrence-photo-gallery
      [occurrenceId]="occurrence.id"></occurrence-photo-gallery>
  </div>

    <div *ngIf="efloreCard!=null && efloreCard.nbHits>0">

      <h2>Extrait eFlore</h2> 

      <button mat-button (click)="openEfloreCard()">Consulter la fiche eflore</button>

      <div class="obs-detail-content">

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Nom retenu</div>
          <div>{{efloreCard.scientific_name}}</div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Nom vernaculaire</div>
          <div>{{efloreCard.common_names[0]}}</div>
        </div>

        <div class="obs-detail-content-item-holder">
          <div class="obs-detail-content-item-title">Famille</div>
          <div>{{occurrence.family}}</div>
        </div>

        


        <div class="obs-detail-content-item-title" *ngIf="efloreCard.chorodepMapUrl!=null">Répartition départementale</div>
          <div>
          <img src="{{efloreCard.chorodepMapUrl}}" />
          </div>
        </div>


        <div class="obs-detail-galery-container" *ngIf="efloreCard.celPhotoUrls!=null">
          <div class="obs-detail-galery" style="width:33%">
                <div class="obs-detail-content-item-title">Illustrations</div>
              <img *ngFor="let url of efloreCard.celPhotoUrls; let i = index" src="{{url}}" alt="" class="obs-detail-img">
          </div>
        </div>
  

    </div>

    <div>
      <button mat-button
        class="bold-link small" 
        (click)="generatePdfEtiquette()" 
        matTooltip="Créer une étiquette d’herbier à partir de cette observation" 
        matTooltipPosition="above">Générer une étiquette d'herbier</button>
    </div>
</div>
