.obs-detail-content {
;
}

.mat-toolbar {
  background: white;
}

#occurrence-detail-container {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left:30px;
}

#occurrence-detail-container-standalone {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
  padding-left:30px;
  height: calc(100vh - 57px);
}

.obs-detail-content-item-holder {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid #ededed;
}

.obs-detail-content-item-title {
  width: 150px;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.obs-detail-galery {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.obs-detail-img {
  width: 33.33333333%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  display: inline-block;
}

#tag-component-container {
  width: 400px;
  vertical-align: middle;
  border: 0;
  display: block;
}

#occurrence-photo-gallery-container {
  width: 400px;
  vertical-align: middle;
  border: 0;
  display: block;
}


.close-button-container {
  width: 100%;
  text-align: right;
}

.fill-space {
  flex: 1 1 auto;
}

