<mat-drawer-container>

  <div>

    <mat-toolbar fxFlex="1 1 auto" class="occurrence-grid-toolbar" >

      <div id="add-occurrence-button-container" [className]="isMobile ? 'floating-button' : ''">
        <button mat-raised-button color="primary" (click)="navigateToCreateOccurrenceForm()">Ajouter une observation</button>
      </div>

      <div >





      <button mat-button
        *ngIf="isMobile"
        class="thirdary-button"
        (click)="showFilters()"
        matTooltip="Filtrer les observations"
          matTooltipClass="tooltip"
        matTooltipPosition="above"><mat-icon svgIcon="filter"></mat-icon></button>






        <span 
          class="ui-component-menu-item " 
          *ngIf="getSelectedCount()>0 && !isMobile"> {{getSelectedCount()}} observation{{(getSelectedCount()>1) ? 's':''}}  sélectionnée{{(getSelectedCount()>1) ? 's':''}} - </span> 


<button *ngIf="isTablet && !isMobile" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item
          *ngIf="getSelectedCount()>0"
          class="thirdary-button"
          (click)="bulkEdit()" 
          matTooltip="Modifier les observations sélectionnées" 
          matTooltipClass="tooltip"
          matTooltipPosition="above">
    <span>Modifier</span>
  </button>
  <button mat-menu-item
          class="thirdary-button"
          (click)="openImportDialog()" 
          matTooltip="Importer un lot d’observations depuis un tableur (consulter le modèle de fichier dans les options)" 
          matTooltipClass="tooltip"
          matTooltipPosition="above">
    <span>Importer</span>
  </button>
  <button mat-menu-item
          class="thirdary-button"
          *ngIf="getSelectedCount()>0"
          matTooltip="Exporter toutes vos observations dans un tableur"
          (click)="doExport()" 
          matTooltipClass="tooltip"
          matTooltipPosition="above">
    <span>Exporter</span>
  </button>
  <button mat-menu-item
          class="thirdary-button"
          *ngIf="getSelectedCount()>0"
          (click)="generatePdfEtiquette()" 
          matTooltipClass="tooltip"
          matTooltip="Créer des étiquettes d'herbier à partir des observations sélectionnées"
          matTooltipPosition="above">
    <span>Etiquettes</span>
  </button>
  <button mat-menu-item
          *ngIf="getSelectedCount()>0"
          class="thirdary-button"
          (click)="openConfirmBulkUnpublishDialog()" 
          matTooltipClass="tooltip"
          matTooltip="Rendre privées les observations sélectionnées"
          matTooltipPosition="above">
    <span>Exporter</span>
  </button>
  <button mat-menu-item
          *ngIf="getSelectedCount()>0"
          class="thirdary-button"
          (click)="openConfirmBulkPublishDialog()" 
          matTooltipClass="tooltip"
          matTooltip="Rendre publiques les observations sélectionnées"
          matTooltipPosition="above">
    <span>Publier</span>
  </button>

  <button mat-menu-item
          *ngIf="getSelectedCount()>0"
          class="thirdary-button"
          (click)="openConfirmBulkDeleteDialog()" 
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          matTooltip="Supprimer les observations sélectionnées" >
    <span>Supprimer</span>
  </button>
</mat-menu>

        <button mat-button
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet"
          class="thirdary-button"
          (click)="bulkEdit()" 
          matTooltip="Modifier les observations sélectionnées" 
          matTooltipClass="tooltip"
          matTooltipPosition="above">Modifier</button>

        <button mat-button
          *ngIf="!isMobile && !isTablet"
          class="thirdary-button"
          (click)="openImportDialog()" 
          matTooltip="Importer un lot d’observations depuis un tableur (consulter le modèle de fichier dans les options)" 
          matTooltipClass="tooltip"
          matTooltipPosition="above">Importer</button>

        <button mat-button
          *ngIf="isMobile"
          class="thirdary-button"
          (click)="openImportDialog()" 
          matTooltip="Importer un lot d’observations depuis un tableur (consulter le modèle de fichier dans les options)" 
          matTooltipClass="tooltip"
          matTooltipPosition="above"><mat-icon svgIcon="import"></mat-icon></button>

        <button mat-button
          class="thirdary-button"
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet; else exportAllTemplate"
          matTooltip="Exporter toutes vos observations dans un tableur"
          (click)="doExport()" 
          matTooltipClass="tooltip"
          matTooltipPosition="above">Exporter</button>

        <ng-template #exportAllTemplate>
        <button mat-button
          *ngIf="!isMobile  && !isTablet"
          class="thirdary-button"
          (click)="doExport()" 
          matTooltip="Exporter toutes vos observations dans un tableur"
          matTooltipClass="tooltip"
          matTooltipPosition="above">Exporter Tout</button>
        </ng-template>

        <button mat-button
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet"
          class="thirdary-button"
          (click)="generatePdfEtiquette()" 
          matTooltip="Créer des étiquettes d'herbier à partir des observations sélectionnées"
          matTooltipClass="tooltip"
          matTooltipPosition="above">Etiquettes</button>

        <button mat-button
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet"
          class="thirdary-button"
          (click)="openConfirmBulkPublishDialog()" 
          matTooltip="Rendre publiques les observations sélectionnées"
          matTooltipClass="tooltip"
          matTooltipPosition="above">Publier</button>

        <button mat-button
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet"
          class="thirdary-button"
          (click)="openConfirmBulkUnpublishDialog()" 
          matTooltip="Rendre privées les observations sélectionnées"
          matTooltipClass="tooltip"
          matTooltipPosition="above">Dépublier</button>

        <button mat-button
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet"
          class="thirdary-button"
          (click)="openConfirmBulkDeleteDialog()" 
          matTooltip="Supprimer les observations sélectionnées"
          matTooltipClass="tooltip"
          matTooltipPosition="above">Supprimer</button>



      </div>
    </mat-toolbar>

  </div>
  <div class="module-right-col-content">
    <div>

      <mat-table class="occurrences-table mat-elevation-z8" 
          [dataSource]="dataSource" 
          matSort
          matSortDirection="asc" 
          matSortDisableClear>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="userSciName" id="user-sci-name-column">
              <mat-header-cell *matHeaderCellDef fxFlex="350px"  mat-sort-header matTooltip="Trier par nom saisi"  matTooltipClass="tooltip" matTooltipPosition="above">Nom saisi</mat-header-cell>
              <mat-cell *matCellDef="let occurrence" fxFlex="350px">{{occurrence.userSciName}}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="dateObserved">
              <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Trier par date" matTooltipClass="tooltip" matTooltipPosition="above">Date</mat-header-cell>
              <mat-cell class="date-observed-cell"
                        *matCellDef="let occurrence">{{occurrence.dateObserved | date:"dd/MM/yyyy" }}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="isPublic">
              <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Trier par statut de publication" matTooltipClass="tooltip" matTooltipPosition="above">Public</mat-header-cell>
              <mat-cell class="is-public-cell"
                        *matCellDef="let occurrence">{{translateBoolean(occurrence.isPublic)}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="locality">
              <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Trier par localité" matTooltipClass="tooltip" matTooltipPosition="above">Lieu</mat-header-cell>
              <mat-cell class="locality-cell"
                        *matCellDef="let occurrence">{{occurrence.locality}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="120px" matTooltip="Trier par identifiant" matTooltipClass="tooltip" matTooltipPosition="above">Identifiant</mat-header-cell>
              <mat-cell  class="id-cell"
                        *matCellDef="let occurrence" fxFlex="120px">{{occurrence.id}}</mat-cell >
          </ng-container>

          <ng-container matColumnDef="identiplanteScore">
              <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Trier par note sur IdentiPlante" matTooltipClass="tooltip" matTooltipPosition="above">Note IdentiPlante</mat-header-cell>
              <mat-cell  class="identiplante-score-cell"
                        *matCellDef="let occurrence">{{occurrence.identiplanteScore}}</mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          
          <mat-row *matRowDef="let row; columns: displayedColumns" (click)="toogleDetailSlideNav(row, $event)"></mat-row>
          
      </mat-table>
    </div>

    <div class="paginator-container">
	    <mat-paginator
	        [length]="totalNbrOfHits" 
	        [pageSize]="10" 
	        [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
    </div>
    <div style="height:50px;"></div>
  </div>



  <mat-drawer #drawer mode="over" position="end" 
    [ngClass]="{
      'detail-drawer-mobile': isMobile,
      'detail-drawer': !isMobile }">
    <occurrence-detail [occToDisplay]="occUnderSpotlight" *ngIf="occUnderSpotlight != null" (occurrenceDeletedEvent)="onOccurrenceDeletedEvent()" (closeEvent)="onCloseFilterEvent(drawer)"> 
    </occurrence-detail>


  </mat-drawer>


</mat-drawer-container>

