.highlight{
  background: skyblue;
}

.photo-gallery-toolbar {
  justify-content: space-between;
  border-bottom: 1px none #ddd; 
  background-color: #fff; 

}

.mat-toolbar {
  background: white;
}


.not-highlight{
  background: #fbeafc;
}

img {
  height: auto;
  max-width: 100%;
}

.gallery-image-container {
  position: relative;
  top: 0;
  left: 0;
}

.gallery-image {
  position: relative;
  top: 0;
  left: 0;
  z-index:2;
}

.linked-to-occurrence-icon {
  position: absolute;
  top: 8px;
  height: 32px;
  width: 32px;
  left: 8px;
  z-index:4;
}

.linked-to-occurrence-icon-mobile {
  position: absolute;
  top: 3px;
  height: 16px;
  width: 16px;
  left: 3px;
  z-index:4;
}

.image-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto 35px;
}

.image-grid-item {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  width: calc(25% - 10px);
  cursor: pointer;
}

.image-grid-item-mobile {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  width: calc(25% - 10px);
  cursor: pointer;
}

.image-placeholder {
  height: 100%;
  visibility: hidden;
  width: 100%;
}

.gallery-image {
  bottom: 0;
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}



/** Responsive grid */

@media (max-width: 480px) {
  .image,
  .image-fit,
  .image-bg,
  .image-svg {
    width: calc(50% - 10px);
  }
  .image-svg {
    padding-bottom: calc(50% - 10px);
  }
}




