<mat-drawer-container>

<div>

    <mat-toolbar fxFlex="1 1 auto" class="photo-gallery-toolbar">

      <div [className]="isMobile ? 'floating-button' : ''">
        <button mat-raised-button color="primary" (click)="openAddPhotoDialog()">Ajouter des photos</button>
      </div>

      <div >

        <span class="ui-component-menu-item" 
          *ngIf="getSelectedCount()>0"> 
            {{getSelectedCount()}} photo{{(getSelectedCount()>1) ? 's':''}}  sélectionnée{{(getSelectedCount()>1) ? 's':''}} 
        </span> 


        <button *ngIf="isTablet && !isMobile" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  *ngIf="getSelectedCount()>0"
                  class="thirdary-button"
                  (click)="bulkDownload()" 
                  matTooltip="Télécharger les photos sélectionnées"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above">
            <span>Télécharger</span>
          </button>
          <button mat-menu-item
                  class="thirdary-button"
                  matTooltip="Ajouter un tag aux photos sélectionnées" 
                  matTooltipClass="tooltip"
                  matTooltipPosition="above">
            <span>Ajouter un tag</span>
          </button>
          <button mat-menu-item
                  class="thirdary-button"
                  *ngIf="getSelectedCount()>0"
                  (click)="openLinkOccurrenceDialog()" 
                  matTooltip="Lier les photos sélectionnées à une observation existante"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above">
            <span>Lier à une observation</span>
          </button>
          <button mat-menu-item
                  class="thirdary-button"
                  *ngIf="getSelectedCount()>0"
                  (click)="openConfirmDeletionDialog()" 
                  matTooltip="Supprimer les photos sélectionnées"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above">
            <span>Supprimer</span>
          </button>


        </mat-menu>


      <button mat-button
        *ngIf="isMobile && !isMobile"
        class="thirdary-button"
        (click)="showFilters()"
        matTooltip="Filtrer les observations"
        matTooltipClass="tooltip" 
        matTooltipPosition="above"><mat-icon svgIcon="filter"></mat-icon></button>

        <button mat-button
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet"
          class="thirdary-button"
          (click)="bulkDownload()" 
          matTooltip="Télécharger les photos sélectionnées"
          matTooltipClass="tooltip" 
          matTooltipPosition="above">Télécharger</button>

        <button mat-button
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet"
          class="thirdary-button"
          matTooltip="Ajouter un tag aux photos sélectionnées"
          matTooltipClass="tooltip" 
          matTooltipPosition="above">Ajouter un tag</button>

        <button mat-button
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet"
          class="thirdary-button"
          (click)="openLinkOccurrenceDialog()" 
          matTooltip="Lier les photos sélectionnées à une observation existante"
          matTooltipClass="tooltip" 
          matTooltipPosition="above">Lier à une observation</button>

        <button mat-button
          *ngIf="getSelectedCount()>0 && !isMobile && !isTablet"
          class="thirdary-button"
          (click)="openConfirmDeletionDialog()" 
          matTooltip="Supprimer les photos sélectionnées"
          matTooltipClass="tooltip" 
          matTooltipPosition="above">Supprimer</button>

      </div>

    </mat-toolbar>

  </div>

  <mat-divider></mat-divider>

  <div class="image-grid">

    <div [ngClass]="isMobile ? 'image-grid-item-mobile gallery-image-container' : 'image-grid-item gallery-image-container'"  *ngFor="let photo of resources" >

      <img class="image-placeholder" 
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="" />

      <img *ngIf="photo.occurrence != null" 
        [ngClass]="isMobile ? 'linked-to-occurrence-icon-mobile' : 'linked-to-occurrence-icon'"
        matTooltip="Cette photo est liée à une observation" 
        matTooltipClass="tooltip" 
        matTooltipPosition="above" 
        src="assets/img/icons/link-icon.svg"/>

      <img class="gallery-image" 
        matTooltip="{{  (photo.originalName.length>30) ? (photo.originalName | slice:0:30)+'...':(photo.originalName) }}" 
        matTooltipClass="tooltip" 
        matTooltipPosition="above" 
        src="{{generateDynamicPhotoUrl(photo)}}" 
        (click)="toogleDetailSlideNav(photo)"/>

      <div *ngIf="!isMobile" class="base-text">
        <mat-checkbox (click)="onPhotoSelect(photo)"></mat-checkbox> 
        {{  (photo.originalName.length>15) ? (photo.originalName | slice:0:15)+'...':(photo.originalName) }} 
      </div>

    </div>

    <div class="paginator-container">
	    <mat-paginator
	        [length]="dataService.photosCount"
	        [pageSize]="12" 
	        [pageSizeOptions]="[12, 24, 48, 96]" ></mat-paginator>
    </div>
  <div style="height: 110px;" *ngIf="isMobile"></div>
  </div>





  <mat-drawer #drawer mode="over" position="end" 
    [ngClass]="{
      'detail-drawer-mobile': isMobile,
      'detail-drawer': !isMobile }">
    <app-photo-detail 
      *ngIf="photoUnderSpotlight != null" 
      [photoToDisplay]="photoUnderSpotlight" 
      (closeEvent)="onCloseFilterEvent()"> 
    </app-photo-detail>


  </mat-drawer>


</mat-drawer-container>

