<div id="outer-container">
<div id="occurrence-form-container">

	<form	[formGroup]="occurrenceForm" 
    (submit)="openConfirmActionDialog(occurrenceForm.value, true)">

		<div id='occurrence-form-container' >
		    
		    <div class="occurrence-form-column">

		        <div class="occurrence-form-label-container">
		          <label class="occurrence-form-label">Date de l'observation :</label>
		        </div>
		        <section class="observed-date-form-field-container">
		          <mat-form-field >
		            <input matInput 
                      readonly 
                      [max]="maxDate" 
                      [matDatepicker]="dateObserved" 
                      formControlName="dateObserved" 
                      matTooltip="Saisir la date de l’observation" 
                      matTooltipClass="tooltip"
                      matTooltipPosition="above">
		            <mat-datepicker-toggle matSuffix 
                      [for]="dateObserved"></mat-datepicker-toggle>
		            <mat-datepicker #dateObserved></mat-datepicker>
		          </mat-form-field>
		        </section>

		        <div class="occurrence-form-label-container-without-bottom-margin">
		          <label class="occurrence-form-label">Localisation :</label>
		        </div>

		        <div class="geoloc-map">
		          <tb-geoloc-map
		            [layersToAdd]="['osm','opentopomap','google hybrid','brgm']"
		            [reset]='resetForm || resetLocationComponentFlag'
                    [enabled]='formEnabled'
		            [patchElevation]="patchElevation"
		            [patchGeometry]="patchGeometry"
                    [height]="getTbTagLibMapHeight()"
                    [width]="getTbTagLibMapWidth()"
		            [elevationProvider]="elevationApiProvider"
		            [osmTilesLayerApi]="mapBgTileUrl"
		            [patchLngLatDec]="patchLatLngDec"
		            [patchAddress]="patchAddress"
		            (location)='onLocationChange($event)'
		          ></tb-geoloc-map>
		        </div>

		        <div class="occurrence-form-label-container">
		          <label class="occurrence-form-label">Localisation diffusée (floutage) :</label>
		        </div>
		        <mat-form-field>
		          <select matNativeControl 
                [(ngModel)]="publishedLocationSelected" 
                formControlName="publishedLocation" 
                matTooltip="Indiquer si vous souhaitez flouter la localisation de l’observation" 
                matTooltipClass="tooltip"
                matTooltipPosition="above">

		            <option value="précise">précise</option>
		            <option value="localité">localité</option>
		            <option value="10x10km">10x10km</option>

		          </select>
		        </mat-form-field>


		        <!-- Advanced form fields container -->
		        <section class="advanced-form-left-container" *ngIf="displayFullFormLeft">

		          <!-- Advanced form fields container - left column -->
		          <div class="advanced-form-left-left" >   

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Lieu-dit :</label>
		            </div>
		            <mat-form-field>
		              <input matInput
                        formControlName="sublocality" 
                        (change)="updateLocationAccuracy()"
                        matTooltip="Toponyme plus précis que la localité" 
                        matTooltipClass="tooltip"
                        matTooltipPosition="above">
		            </mat-form-field>



		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Milieu :</label>
		            </div>
		            <mat-form-field>
		              <input matInput 
                        formControlName="environment" 
                        matTooltip="Type d’habitat, par exemple issu des codes Corine ou Catminat" matTooltipClass="tooltip" matTooltipPosition="above">
		            </mat-form-field>


		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Projet :</label>
		            </div>
		            <mat-form-field>
		                <select matNativeControl 
                      [(ngModel)]="projectIdSelected" 
                      formControlName="projectId"  
                      matTooltip="Programme de sciences participatives ou observatoire citoyen. En choisissant un projet, vous pourrez avoir à saisir des champs étendus spécifiques" 
                      matTooltipClass="tooltip"
                      matTooltipPosition="above">
		                <option *ngFor="let project of projects" value="{{project.id}}">{{project.label}}</option>
		                </select>
		            </mat-form-field>

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Structure :</label>
		            </div>
		            <mat-form-field>
		              <input matInput 
                    class="mat-form-field-without-label-overhead"
                    formControlName="observerInstitution" 
                    matTooltip="Structure d’appartenance de l’observateur, dans le cadre de laquelle a été faite l’observation" 
                    matTooltipClass="tooltip"
                    matTooltipPosition="above">
		            </mat-form-field>

		          </div>

		          <!-- Advanced form fields container - right column -->
		          <div class="advanced-form-left-right" >

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Station :</label>
		            </div>
		            <mat-form-field>
		              <input matInput 
                    class="mat-form-field-without-label-overhead"
                    formControlName="station" 
                    matTooltip="Lieu précis de l'observation définissant une unité écologique homogène" 
                    matTooltipClass="tooltip"
                    matTooltipPosition="above">
		            </mat-form-field>

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Précision de la localisation :</label>
		            </div>
		            <mat-form-field>
		              <select matNativeControl 
                    formControlName="locationAccuracy" 
                    matTooltip="Renseigner à quel point la localisation renseignée est précise" 
                    matTooltipClass="tooltip"
                    matTooltipPosition="above">

		                <option value=""></option>
		                <option value="0 à 10 m">0 à 10 m</option>
		                <option value="10 à 100 m">10 à 100 m</option>
		                <option value="100 à 500 m">100 à 500 m</option>
		                <option value="Lieu-dit">Lieu-dit</option>
		                <option value="Localité">Localité</option>

		              </select>
		            </mat-form-field>

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Observateur :</label>
		            </div>
		            <mat-form-field>
		              <input matInput 
                    class="mat-form-field-without-label-overhead"
                    formControlName="observer" 
                    matTooltip="Identité de l’observateur. Ce champ est renseigné automatiquement à partir de votre compte Tela Botanica" 
                    matTooltipClass="tooltip"
                    matTooltipPosition="above">
		            </mat-form-field>


		        </div>
		        </section>

		        <div class="occurrence-form-options">
		          <div>
		          <span class="occurrence-form-option-label">Afficher les champs complémentaires</span>

		          <mat-slide-toggle 
                [checked]="false" 
                [disabled]="!formEnabled" 
                (toggleChange)="toggleAdvancedFormLeft($event)"  
                matTooltip="Afficher l’ensemble des champs de saisie" 
                matTooltipClass="tooltip"
                matTooltipPosition="above"></mat-slide-toggle>
		          </div>

		          <div *ngIf="isInCreateMode()">
		            <span class="occurrence-form-option-label">Réinitialiser ces données pour l'observation suivante</span>
		            <mat-slide-toggle 
                  [disabled]="!formEnabled" 
                  (toggleChange)="toggleClearFormAfterSubmit($event)"  
                  matTooltip="Si vous souhaitez enchainer avec la saisie d’une autre observation, vous pouvez choisir de réinitialiser ces champs" 
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"></mat-slide-toggle>
		          </div>

		        </div>

		    </div>

		    <div class="occurrence-form-column">

		      <div>

		        <div class="occurrence-form-label-container-without-bottom-margin">
		            <label class="occurrence-form-label">Taxon :</label>
		        </div>

		        <div class="tsb-search-box">
		          <tb-tsb-search-box 
		            placeholder='Choisir une espèce'
		            editingPlaceholder="Modifier l'espèce"
		            defaultRepository='bdtfx'
		            [autoSelectValueIfOnlyOneResult]='autoSelectValueIfOnlyOneResult'
                    [enabled]='formEnabled'
		            [tbRepositoriesConfig]='tbRepositoriesConfig'
		            [autoResetWhenSelected]='false'
		            [emitOccurenceOnBlur]='true'
		            [reset]='resetForm || resetTaxoComponentFlag'
		            [updateData]='patchTaxon'
		            (updatedData)='onTaxonChange($event)'
		            (newData)='onTaxonChange($event)'></tb-tsb-search-box>
		        </div>

		        <button type="button" class="thirdary-button" mat-button (click)="displayEfloreCard()" [disabled]="!isEfloreCardDisplayable()">Consulter la fiche eFlore</button>



		        <div style="display: flex;">
  		        <div style="width: 72%;">

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Certitude :</label>
		            </div>

                <div class="mat-form-field-wrapperish">
		              <mat-radio-group  
                    formControlName="certainty" 
                    class="certainty-selector" >

		                <mat-radio-button 
                      value="certain"  
                      matTooltip="Vous êtes certain·e de l’identification du taxon" 
                      matTooltipClass="tooltip"
                      matTooltipPosition="above">Certaine</mat-radio-button>

		                <mat-radio-button 
                      value="douteux" 
                      matTooltip="Vous êtes avez un doute quant à l’identification du taxon" 
                      matTooltipClass="tooltip"
                      matTooltipPosition="above">Douteuse</mat-radio-button>

		                <mat-radio-button 
                      value="à déterminer" 
                      matTooltip="Vous n’avez pas identifié le taxon observé" 
                      matTooltipClass="tooltip"
                      matTooltipPosition="above">A déterminer</mat-radio-button>
		              </mat-radio-group>
    		        </div>

		        </div>

		        <div style="width: 38%;">

		          <div class="occurrence-form-label-container">
		            <label class="occurrence-form-label">Spontanéité :</label>
		          </div>

              <div class="mat-form-field-wrapperish">
		            <mat-radio-group 
                  [(ngModel)]="isWildSelected" 
                  formControlName="isWild">  
		              <mat-radio-button 
                    *ngFor="let op of isWildList" 
                    matTooltip="{{op.tooltip}}" 
                    matTooltipPosition="above"
                    matTooltipClass="tooltip"
                    [value]="op.value">{{op.name}}</mat-radio-button>
		            </mat-radio-group>
		          </div>

		        </div>


		        </div>
		      </div>

		        <div class="occurrence-form-annotation-container">

		          <div class="occurrence-form-label-container">
		            <label class="occurrence-form-label">Commentaire :</label>
		          </div>

		          <mat-form-field style="width:100%;" class="mat-form-field-without-label-overhead">
		            <textarea matInput                   
                      formControlName="annotation"  
                      matTooltip="Ajouter une note" 
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"></textarea>
		          </mat-form-field>
		        </div>


          <div class="mat-form-field-wrapperish">
		        <div id="occurrence-form-annotation-photo-container" *ngIf="mode != BULK_EDIT_MODE">

		            <div class="occurrence-form-photo-container">
		              <div class="occurrence-form-label-container">
		                <label class="occurrence-form-label">Photos :</label>
		              </div>


					  <div id="occurrence-photo-gallery-container">
						  <occurrence-photo-gallery #photoGallery
							  (onPhotoRemoved)="onPhotoRemoved($event)"
							  [enableRemove]="true"
							  [occurrenceId]="(mode == SINGLE_EDIT_MODE) ? ids[0] : null"></occurrence-photo-gallery>
			          </div>


                    <button mat-button
                      matTooltip="Téléverser des photos à partir de votre ordinateur" 
                      matTooltipClass="tooltip"
                      type="button" 
                      matTooltipPosition="above"
                      class="thirdary-button" 
                      (click)="openAddPhotoDialog()">Ajouter des photos</button>
		            <button mat-button 
                      class="thirdary-button"  
                      type="button" 
                      matTooltip="Ajouter une photo déjà présente dans le CEL" 
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      [disabled]="!formEnabled"
                      (click)="openLinkPhotoDialog()">Choisir une photo déjà importée</button>

		            <button mat-button class="thirdary-button"  
                      type="button" 
                      (click)="askPlantNet()" 
                      matTooltip="Interroger PlantNet pour obtenir des suggestions d’identification à partir des photos que vous avez importées" 
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      [disabled]="!isPlantNetCallable() || !formEnabled">Aide à la détermination avec PlantNet</button>
		            </div>
		          </div> 
		        </div> 
	





		        <div *ngIf="isTagComponentDisplayable()">
              

	            <button mat-button class="thirdary-button"  
                    type="button" 
                    (click)="openTagDialog()" 
                    matTooltip="Consulter les mots-clés liés ou ajouter un nouveau mot-clé" 
                    matTooltipClass="tooltip"
                    matTooltipPosition="above"
                    [disabled]="!formEnabled">Gérer les mots-clés liés</button>



		        </div>

		      
		        <div class="occurrence-form-label-container">
		          <label class="occurrence-form-label">Options de publication :</label>
		        </div>

            <div class="mat-form-field-wrapperish">
		          <mat-slide-toggle 
                formControlName="isPublic" 
                [disabled]="!isPublishable()" 
                checked="false" 
                matTooltip="Afin de publier une observation, vous devez avoir renseigné au moins le lieu et la date." 
                matTooltipClass="tooltip"
                matTooltipPosition="above">Observation publique</mat-slide-toggle>
		        </div>

		        <!-- Advanced form fields container -->
		        <section class="advanced-form-left-container" *ngIf="displayFullFormRight">

		          <!-- Advanced form fields container - left column -->
		          <div class="advanced-form-left-left" >       



		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Type de donnée :</label>
		            </div>
		            <mat-form-field>
		              <select matNativeControl [(ngModel)]="occurrenceTypeSelected" formControlName="occurrenceType"  matTooltip="Sélectionner le type de donnée en cours de saisie" matTooltipPosition="above" matTooltipClass="tooltip">
		                <option value="observation de terrain">observation de terrain</option>
		                <option value="issue de la bibliographie">issue de la bibliographie</option>
		                <option value="donnée d'herbier">donnée d'herbier</option>
		              </select>
		            </mat-form-field>

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Phénologie :</label>
		            </div>
		            <mat-form-field>
		              <select matNativeControl formControlName="phenology"  matTooltip="Sélectionner le stade phénologique du spécimen observé" matTooltipPosition="above" matTooltipClass="tooltip">
		                <option value=""></option>
		                <option value="00-09: germination, développement des bourgeons">00-09: germination, développement des bourgeons</option>
		                <option value="10-19: développement des feuilles">10-19: développement des feuilles</option>
		                <option value="11: par ex, environ 10% des feuilles épanouies">11: par ex, environ 10% des feuilles épanouies</option>
		                <option value="15: par ex, environ 50% des feuilles épanouies">15: par ex, environ 50% des feuilles épanouies</option>
		                <option value="20-29: formation de pousses latérales, tallage">20-29: formation de pousses latérales, tallage</option>
		                <option value="30-39: développement des tiges, croissance des rosettes">30-39: développement des tiges, croissance des rosettes</option>
		                <option value="40-49: développement des organes de propagation végétative">40-49: développement des organes de propagation végétative</option>
		                <option value="60-69: floraison">60-69: floraison</option>
		                <option value="61: par ex, environ 10% des fleurs épanouies">61: par ex, environ 10% des fleurs épanouies</option>
		                <option value="65: par ex, environ 50% des fleurs épanouies">65: par ex, environ 50% des fleurs épanouies</option>
		                <option value="70-79: fructification">70-79: fructification</option>
		                <option value="80-89: maturité des fruits et des graines">80-89: maturité des fruits et des graines</option>
		                <option value="85: par ex, 50% des fruits matures">85: par ex, 50% des fruits matures</option>
		                <option value="90-99: sénescence et dormance">90-99: sénescence et dormance</option>
		                <option value="91: par ex, environ 10% des feuilles jaunes">91: par ex, environ 10% des feuilles jaunes</option>
		                <option value="95: par ex, environ 50% des feuilles jaunes">95: par ex, environ 50% des feuilles jaunes</option>
		              </select>
		            </mat-form-field>

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Présence d'un témoin d'herbier :</label>
		            </div>
		            <mat-slide-toggle 
                  formControlName="sampleHerbarium"  
                  matTooltip="Indiquer si une planche d’herbier a été réalisée à partir du spécimen observé (permet notamment une vérification de l'identification a posteriori" 
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"></mat-slide-toggle>

		          </div>

		          <!-- Advanced form fields container - right column -->
		          <div class="advanced-form-left-right" >
		          
		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Source bibliographique :</label>
		            </div>
		            <mat-form-field>
		              <input matInput 
                        formControlName="bibliographySource"  
                        matTooltip="Dans le cas où la donnée est issue de la bibliographie, renseigner la source" 
                        matTooltipClass="tooltip"
                        matTooltipPosition="above">
		            </mat-form-field>

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Abondance :</label>
		            </div>
		            <mat-form-field>
		              <input  class="mat-form-field-without-label-overhead"matInput formControlName="coef"  matTooltip="Coefficient d'abondance - dominance - sociabilité. ex : +, 1, 2, 3, 4, 5, 12, 34, 55, +3, etc. Décrit à la fois l'abondance surfacique d'une espèce et sa sociabilité (individus isolés à colonie homogène)." matTooltipPosition="above" matTooltipClass="tooltip">
		            </mat-form-field>

		            <div class="occurrence-form-label-container">
		              <label class="occurrence-form-label">Déterminateur :</label>
		            </div>
		            <mat-form-field>
		              <input matInput formControlName="identificationAuthor" matTooltip="Nom de la personne ayant identifié l'espèce observée (si différente de l'observateur)" matTooltipPosition="above" matTooltipClass="tooltip">
		            </mat-form-field>

		          </div>

		        </section>

		        <div class="occurrence-form-options">
		          <span class="occurrence-form-option-label">Afficher les champs complémentaires</span>
		          <mat-slide-toggle 
                [checked]="false"      
                [disabled]="!formEnabled" 
                (toggleChange)="toggleAdvancedFormRight($event)"  
                matTooltip="Afficher l’ensemble des champs de saisie" matTooltipClass="tooltip" matTooltipPosition="above"></mat-slide-toggle>
		        </div>

        <div id="help-button-container">
		      <button type="button" mat-raised-button color="accent" (click)="navigateToHelp()">Aide</button>
		    </div>

		  </div>




		</div>

		<div class="occurrence-form-submit-button-container">
		  <mat-card-actions align="center" class="occurrence-form-submit-button-card-container">

		    <button type="button" 
            mat-raised-button 
            color="accent" 
            (click)="onCancel()" 
            matTooltip="Retourner à la page Observations sans enregistrer" 
            matTooltipPosition="above" 
            matTooltipClass="tooltip">Annuler</button>

		    <button type="button" 
            mat-raised-button color="primary" 
            (click)="openConfirmActionDialog(occurrenceForm.value, false)" 
            matTooltip="{{ isInCreateMode() ? 'Enregistrer' : 'Modifier'}} l’observation et retourner à la page Observations"             
            matTooltipClass="tooltip"
            matTooltipPosition="above">{{ isInCreateMode() ? 'Enregistrer' : 'Modifier'}}</button>

		    <button type="submit" 
            mat-raised-button 
            color="primary"  
            matTooltip="{{ isInCreateMode() ? 'Enregistrer' : 'Modifier'}} l’observation et rester sur le formulaire pour en saisir une autre" 
            matTooltipClass="tooltip" 
            matTooltipPosition="above">Observation suivante</button>

		  </mat-card-actions>
		</div>

	</form>

</div>

</div>
