#occurrence-form-container {
  display: flex;
}

.occurrence-form-left-column {
  flex-basis:0;
  flex: 1 1 0;
  padding-left: 60px;
  padding-right: 60px;
}

.occurrence-form-right-column {
  flex-basis:0;
  flex: 1 1 0;
  padding-left: 60px;
  padding-right: 60px;
}

.occurrence-form-column-title {
  font-weight: bold;    
  font-size: 22px;
  padding: 10px;
}

.occurrence-form-header {
  height:40px;
  margin-top:10px;
}

.occurrence-form-annotation-photo-container {
  display: flex;
}

.occurrence-form-label {
  font-weight: bold;    
  font-size: 13px;
}

.occurrence-form-label-container {
  padding-top: 10px;
  padding-bottom: 8px;
}


.occurrence-form-photo-container {
  flex-basis:0;
  flex: 1 1 0;
}

.occurrence-form-annotation-container {
  flex-basis:0;
  flex: 1 1 0;
}

.occurrence-form-submit-button-container {
  text-align: center;
  padding-bottom: 20px;
}


.occurrence-form-options {
  text-align: right;
  padding-bottom: 20px;
}

.occurrence-form-header {
  text-align: right;
  padding-left: 40px;
}

.occurrence-form-option-label {
  padding-right: 10px;
}

.advanced-form-left-container {
  display: flex;
}

.advanced-form-left-left {
  flex-basis:0;
  flex: 1 1 0;
}

.advanced-form-left-right {
  flex-basis:0;
  flex: 1 1 0;
}

.geoloc-map {
  padding-bottom:20px;
}

.tsb-search-box {
  padding-top:20px;
}

.certainty-selector {
  padding-top:20px;
}

.divider-container {
  text-align:center;
}

.mat-divider {
  margin-left:50px;
  margin-right:50px;
  border-top-width: 2px;
  border-top-color: black;  
  margin-top:20px;
}
