#outer-container {
  overflow-y: auto;
  height: calc(100vh - 67px);

}

#occurrence-form-container {
  display: flex;
 -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.occurrence-form-column {
  flex-basis:0;
  flex: 1 1 0;
  padding-top: 16px;
  padding-left: 50px;
  padding-right: 50px;
  width: 50VW;
}

.occurrence-form-column-title {
  font-weight: bold;    
  font-size: 22px;
  padding: 10px;
}

.occurrence-form-header {
  height:40px;
  margin-top:10px;
}

#occurrence-form-annotation-photo-container {
  display: flex;
  border: solid;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border-width: 1px
}

.occurrence-form-label {
  font-weight: bold;    
  font-size: 13px;
}

.occurrence-form-label-container {
  padding-top: 0px;
  padding-bottom: 4px;
}

.occurrence-form-label-container-without-bottom-margin {
  padding-top: 10px;
}

.occurrence-form-photo-container {
  flex-basis:0;
  flex: 1 1 0;
}

.occurrence-form-annotation-container {
  flex-basis:0;
  flex: 1 1 0;
}

.occurrence-form-submit-button-container {
  text-align: center;
  padding-bottom: 20px;
}


.occurrence-form-options {
  text-align: right;
  padding-bottom: 20px;
}

.occurrence-form-header {
  text-align: right;
  padding-left: 40px;
}

.occurrence-form-option-label {
  padding-right: 10px;
}

.advanced-form-left-container {
  display: flex;
}

.advanced-form-left-left {
  flex-basis:0;
  flex: 1 1 0;
}

.advanced-form-left-right {
  flex-basis:0;
  flex: 1 1 0;
}

.geoloc-map {
  padding-bottom:20px;
}

.tsb-search-box {
  padding-top:20px;
}

.certainty-selector {
  padding-top:20px;
}

.divider-container {
  text-align:center;
}

.mat-divider {
  margin-left:50px;
  margin-right:50px;
  border-top-width: 2px;
  border-top-color: black;  
  margin-top:20px;
}


.occurrence-form-submit-button-card-container > * {
    margin-left: 10px;
}

#form-container {
  overflow:auto;
  height:calc(100vh - 67px);
}

/** Mimicks the field-wrapper container style which angular material includes for
 input fields but which lacks for selects/radio groups. 
*/
.mat-form-field-wrapperish {
    margin: .25em 0;
    position: relative;
    padding-bottom: 1.34375em;
}


#help-button-container {
  text-align:right;
  padding-bottom:14px
}

