
<div class="photo-filters-form-container">

  <div [className]="isMobile ? 'floating-button' : 'fixed-filter-buttons-container'">
    <button class="filter-button" mat-raised-button color="primary" (click)='emitApplyFilterEvent()'>Filtrer les observations</button>
    <button class="reinit-button" mat-raised-button color="accent" (click)='resetFilters()'>Réinitialiser les filtres</button>
  </div>

  <div class="close-button-container">
    <button mat-button 
      *ngIf="isMobile"
      (click)="closeMobile()"
      matTooltip="Fermer"
      matTooltipPosition="above"><mat-icon svgIcon="close" ></mat-icon></button>
  </div>

  <h1 syle="text-align:center" class="filter-title" *ngIf="isMobile">Filtres</h1>

    <form class="occurrence-filters-form" [formGroup]="formGroup">

      <div class="form-group-label">Texte</div> 
      <div>
        <mat-form-field>
            <mat-label>Recherche libre</mat-label>
            <input  matInput formControlName="freeTextQuery"  name="freeTextQuery">
        </mat-form-field>

        <mat-divider></mat-divider>
      </div>

      <div class="form-group-label  mat-typography">Date de prise de vue</div>

      <table class="example-full-width centering-container" cellspacing="0"><tr>
        <td><mat-form-field class="day-input">
            <mat-label>Jour</mat-label>
            <input  matInput  placeholder="" formControlName="dateShotDay"  name="dateShotDay" maxlength="2">
        </mat-form-field></td>

        <td><mat-form-field class="month-input">
            <mat-label>Mois</mat-label>
            <input  matInput  placeholder="" formControlName="dateShotMonth"  name="dateShotMonth" maxlength="2" >
        </mat-form-field></td>

        <td><mat-form-field class="year-input">
            <mat-label>Année</mat-label>
            <input  matInput  placeholder="" formControlName="dateShotYear"  name="dateShotYear" maxlength="4">
        </mat-form-field></td>
      </tr></table>

      <mat-divider></mat-divider>

      <div class="form-group-label">Lieux</div>

      <table class="example-full-width centering-container" cellspacing="0"><tr>
        <td><mat-form-field class="osm-locality-input">
            <mat-label>Pays</mat-label>
            <input  matInput  placeholder="Nom du pays" formControlName="osmCountry"  name="osmCountry"   >
        </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="french-dep-input">
            <mat-label>Département</mat-label>
            <input  matInput  placeholder="Numéro du département" formControlName="frenchDep"  name="frenchDep"   >
        </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="osm-locality-input">
            <mat-label>Ville</mat-label>
            <input  matInput  placeholder="Nom de la ville" formControlName="locality"  name="locality"   >
        </mat-form-field></td>
      </tr></table>

      <mat-divider></mat-divider>

      <div class="form-group-label">Identification</div>

      <div>
        <mat-form-field>
            <mat-label></mat-label>
                <mat-select [(value)]="certainty" formControlName="certainty" >
                <mat-option>Indifférent</mat-option>
                <mat-option value="certain">Certaine</mat-option>
                <mat-option value="douteux">Douteuse</mat-option>
                <mat-option value="à déterminer">A déterminer</mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="form-group-label">Mots-clés</div>

      <photo-tag-tree-component #tagTree></photo-tag-tree-component>

      <mat-divider></mat-divider>

      <div class="form-group-label">Projet</div>

      <div>
        <mat-form-field>
          <mat-select [(value)]="projectId">
          <mat-option>Tous</mat-option>
            <mat-option *ngFor="let project of telaBotanicaProjects" value="{{project.id}}" formControlName="project">{{project.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="form-group-label">Publique/privée</div>

      <div>
        <mat-form-field>
          <mat-select [(value)]="isPublic" formControlName="isPublic">
            <mat-option>Indifférent</mat-option>
            <mat-option value="true">Seulement publiques</mat-option>
            <mat-option value="false">Seulement privées</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="form-group-label">Validation IdentiPlante</div>

      <div>
        <mat-form-field>
                <mat-select [(value)]="isIdentiplanteValidated" formControlName="isIdentiplanteValidated">
                <mat-option>Indifférent</mat-option>
                <mat-option value="true">Seulement validés</mat-option>
                <mat-option value="false">Seulement non validés</mat-option>
            </mat-select>
        </mat-form-field>
      </div>

    </form>

</div>

