@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #53504b;
  display: flex;
  height:100%;
  flex-direction: column;
  margin: 0;
}

body {
  overflow: hidden !important;
}

.ui-component-menu-item {
  font-size: 13px;
  line-height: 13px;
  font-weight: 50;
}

.mat-radio-label-content {
  padding-left: 5px !important; 
  padding-right: 8px !important; 
}

.floating-button {

    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 10000;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.module-left-col {
  float:left;
  width:20%;
  overflow:auto;  
  height: calc(100vh - 67px);
}


.module-right-col {
  float:left;
  width:80%;
  overflow:auto;  
  height: calc(100vh - 67px);
}

.module-right-col-mobile {
  float:left;
  width:100%;
  overflow:auto;  
  height: calc(100vh - 67px);
}








