@import '@angular/material/prebuilt-themes/deeppurple-amber.css';




html, body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #53504b;
  display: flex;
height:100%;
  flex-direction: column;
  margin: 0;
}


.ui-component-menu-item {
    font-size: 13px;
    line-height: 13px;
    font-weight: 50;

}











