:host {
  background-color: #fcfaf5;
  margin-top: 4px;
  justify-content: center;
  padding: 20px;
  overflow-y: scroll;
}

.mat-icon {
  height: 16px !important;
  width: 16px !important;
}


.filter-button {
  margin-bottom: 10px;
}

.reinit-button {
  margin-left: 20px;
  margin-right: 20px;
}

.close-button-container {
  width: 100%;
  text-align: right;
}

.mat-tree-node {
    display: flex;
    align-items: center;
    height: 20px;
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.mat-tooltip.tooltip {
  font-size: 14px;
}
