:host {
    background-color: #fcfaf5;
    margin-top: 4px;
    justify-content: center;
    padding: 20px;
overflow-y: scroll;
}


.day-input, .month-input{
  width:34px !important;
}

.year-input, .french-dep-input{
  width:68px !important;
}

.filter-title  {
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    font-weight: 60;
}


mat-form-field {
    font-size: 11px;
    line-height: 13px;
    font-weight: 2;
}

.form-group-label {
    font-size: 13px;
    line-height: 13px;
    font-weight: 50;

}


